# OS X cruft
.DS_Store

# Emacs cruft
*~
[#]*[#]
.\#*

# EAGLE libraries (a separate git repository.  TODO: learn about submodules)
/lbr/
# these are specific to local projects
/lbr-generated/

# these are separate repos I've downloaded
/third-party/
